


* {
	font-size: 11; 
}


body {
	margin: 0px;
	
	font: 10px Verdana, Arial, Helvetica, sans-serif;
}

.boto {
	border: 1px solid #000066;
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	}

/*
table, tr, td {
	border-width: 1px;
	border-spacing: 1px;
	border-collapse: collapse; 
	padding: 0px;
	vertical-align: top; 
}
*/
td.padded-content-box {
	border-style: solid;
	border-width: 1px;
	padding: 4px;
}



img {
	border-width: 0px;
}

/*html{
	overflow:hidden;
	}*/

h1 {
	text-transform: uppercase;
	font: bold 10px Verdana, Arial, Geneva, Helvetica, sans-serif;
}

h2 {
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
}

h3 {
	font-size: 12px;
	display: inline;
}

h4 {
	font-size: 13px;
}

h7 {
	text-transform: uppercase;
	font: bold 12px Verdana, Arial, Geneva, Helvetica, sans-serif;
}

h8 {
	font: bold 18px Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size: 18px;
}

a {
	font-size: 10px;
	color: #0000FF;
}

a:hover
{
	text-decoration: underline;
}

a.no-help:hover {
	text-decoration: none;
}
form {
	margin: 0px;
}
.textbox {
	border: 1px solid #000066;
}
.div {
	border: 1px solid #000066;
}
.loader{
	filter:alpha(opacity=60);
	-moz-opacity:0.6;
	background-repeat:no-repeat;
	background-position:center; 
	background-image: url('/catalogConnector/images/loader.gif');
	display:block;overflow:hidden;
}

.blueloader{
	filter:alpha(opacity=60);
	-moz-opacity:0.6;
	background-repeat:no-repeat;
	background-position:48% 40%; 
	background-image: url('/catalogConnector/images/bigloader.gif');
	display:block;overflow:hidden;
}

.smallloader{
	filter:alpha(opacity=60);
	-moz-opacity:0.6;
	background-repeat:no-repeat;
	background-position:center; 
	background-image: url('/catalogConnector/images/smallloader.gif');
	display:block;overflow:hidden;
}

.header{
	font-size: 14px;
	font-weight: bold;
	text-transform: capitalize;
	background-color: #0099CC;
	text-align: center;
}

.message-ok{
	border:solid 1px #349534; 
	background:#C9FFCA;
	color:#008000;
	font-weight:bold;
	padding:4px;
	text-align:center;
}
.message-error{
	border:solid 1px #CC0000; 
	background:#F7CBCA;
	color:#CC0000;
	font-weight:bold;
	padding:4px;
	text-align:center;
}
.message-warning{
	border:solid 1px #DEDEDE; 
	background:#FFFFCC;
	color:#222222;
	padding:4px;
	text-align:center;
}
.message{
	padding-bottom: 5px;
	padding-top: 1px;
	padding-left: 10px;
	padding-right: 10px;
	border:solid 1px #000000;
	background-color:#FFFFFF;
	position: absolute;
	top: 40%;
	left: 40%;
}
.metadata-selected{
	background-color:#B3D4EF;
}

/* CatalogConnector Header */
#cc-header{
	background-image: url(../images/header/catalogconnector_banner_repeat.jpg);
	margin: 0px;
	padding: 0px;
	height: 65px;
	width: 100%;
	background-color: #09F;
	position: relative;
	background-repeat: repeat-x;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	top: 0px;
	left: 0px;
}
#cc-banner{
	margin: 0px;
	padding: 0px;
	position: absolute;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	left: 0px;
	top: 0px;
}
#cc-logo{
	position: absolute;
	float: right;
	margin: 0px;
	padding: 0px;
	top: 5px;
	right: 5px;
}

.btnMovers {
	color:darkblue;
	font: bold 12px Verdana, Arial, Geneva, Helvetica, sans-serif;
	background:#ECECFF;
	font-weight: bold;
	border: 1px solid #ECECFF;
}
 
.btnMovers:hover {
	color: white;
	font: bold 12px Verdana, Arial, Geneva, Helvetica, sans-serif;
	background:#ECECFF;
	border: 1px solid white;
	cursor:pointer;
	border: 1px solid #ECECFF;
}


.deadButton {
	color:lightgrey;
	font: bold 12px Verdana, Arial, Geneva, Helvetica, sans-serif;
	background:#ECECFF;
	font-weight: bold;
	border: 1px solid #ECECFF;
}

.dropboxtext{
    font: 10px Verdana, Arial, Geneva, Helvetica, sans-serif;
}

