<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>catalogConnector</display-name>	
	<servlet>
    <servlet-name>log4j-init</servlet-name>
  <servlet-class>org.idec.catalog.Logging</servlet-class>
  <init-param>
    <param-name>log-directory</param-name>
    <param-value>E:/usuaris/v.pascual/tomcat/webapps/catalogConnector/WEB-INF/logs/</param-value>
  </init-param>
  <init-param>
    <param-name>log4j-init-file</param-name>
    <param-value>/WEB-INF/classes/log4j.xml</param-value>
  </init-param>
  
  <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
		<description>Catalog Connector</description>
		<display-name>Connector</display-name>
		<servlet-name>Connector</servlet-name>
		<servlet-class>org.idec.catalog.CatalogConnector</servlet-class>
		
	<!--
    Removed init param
    <init-param>
      <param-name>catalog_config</param-name>
      <param-value>WEB-INF/catalogues.xml</param-value>
    </init-param> -->
    
    <!-- New param PROJECT in order to add more catalogue configurations -->
    <init-param>
      <param-name>catalog_projects_folder</param-name>
      <param-value>WEB-INF/projects/</param-value>
    </init-param> 
    
    
    <init-param>
      <param-name>catalog_service</param-name>
      <param-value>WEB-INF/service.xml</param-value>
    </init-param> 
    
    <init-param>
      <param-name>catalogues_dir</param-name>
      <param-value>WEB-INF/catalogues/</param-value>
    </init-param> 
     <load-on-startup>2</load-on-startup>
	</servlet>
	
	<servlet>
		<description>Catalog Connector Administrator</description>
		<display-name>AdminConnector</display-name>
		<servlet-name>AdminConnector</servlet-name>
		<servlet-class>org.idec.catalog.AdminConnector</servlet-class>
	
	<init-param>
      <param-name>catalog_projects_folder</param-name>
      <param-value>WEB-INF/projects/</param-value>
    </init-param> 	
	<init-param>
      <param-name>catalog_config</param-name>
      <param-value>catalogues.xml</param-value>
    </init-param>
    <init-param>
      <param-name>catalog_service</param-name>
      <param-value>WEB-INF/service.xml</param-value>
    </init-param> 
    <init-param>
      <param-name>catalogues_dir</param-name>
      <param-value>WEB-INF/catalogues/</param-value>
    </init-param>
    <init-param>
      <param-name>user_name</param-name>
      <param-value>admin</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>connector</param-value>
    </init-param>
    <load-on-startup>3</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Connector</servlet-name>
		<url-pattern>/Connector</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminConnector</servlet-name>
		<url-pattern>/AdminConnector</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
